<!-- Header -->
	<header>
		<span class="header-padding brand-logo">
			<img src="#" alt="logo"/>
		</span>
		<div class="brand-name">
			<h1><a href="/home">SILVIA QUACH</a></h1>
		</div>
		<div class="header-padding">
			<button class="login-button">Log In</button>
		</div>
	</header>
	<!-- Navbar -->
	<nav>
		<span><a href="/portfolio">Portfolio</a></span>
		<span><a href="https://drive.google.com/open?id=0B8XOeYfg6qZuTlNpbnVFXzY1djd0aGowU202amVXZm9BZFdz" target="_blank">Resume</a></span>
		<span><a href="/contact">Contact</a></span>

	</nav>
	<!-- Main -->
	<main class="landing-section">
		<div class="landing-image">
			<img src="#" alt="Photo of Silvia Quach"/>
		</div>
		<div class="landing-content">
			<div>
				<h2>Welcome to My Portfolio</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non consequuntur dolores expedita vero beatae quas voluptates eos, tenetur, excepturi sed at temporibus quos commodi amet nulla. Culpa animi minima, pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus esse ipsam fuga beatae cupiditate delectus, voluptas atque dolorem? Id saepe aliquid obcaecati consectetur dignissimos, odit. Quo, sapiente. Doloremque, non, iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non consequuntur dolores expedita vero beatae quas voluptates eos, tenetur, excepturi sed at temporibus quos commodi amet nulla. Culpa animi minima, pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus esse ipsam fuga beatae cupiditate delectus, voluptas atque dolorem? Id saepe aliquid obcaecati consectetur dignissimos, odit. Quo, sapiente. Doloremque, non, iste.</p>
			</div>
			
		</div>
	</main>
	

	<!-- Footer -->
	<footer>© 2017 Eva Lieu</footer>
