<!-- Navbar -->
<nav>
	<span><a href="/portfolio" class="active">Portfolio</a></span>
	<span><a href="https://drive.google.com/open?id=0B8XOeYfg6qZuTlNpbnVFXzY1djd0aGowU202amVXZm9BZFdz" target="_blank">Resume</a></span>
	<span><a href="/contact">Contact</a></span>
</nav>