<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home | Silvia Quach</title>
	
	{{> head }}
	
	<link rel="stylesheet" href="./assets/css/landing.css">

	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
	{{> header }}
	{{> navbar }}
	{{{ body }}}
	{{> footer }}
</body>
</html>