<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Contact | Silvia Quach</title>
	<link rel="stylesheet" href="./assets/css/reset.css">
	<link rel="stylesheet" href="./assets/css/index.css">
	<link rel="stylesheet" href="./assets/css/header.css">
	<link rel="stylesheet" href="./assets/css/navbar.css">
	<link rel="stylesheet" href="./assets/css/footer.css">
	<link rel="stylesheet" href="./assets/css/contact.css">

	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>
<body>

	<!-- Main -->
	<main class="contact-section">
		<div class="contact-header">
			<h2>CONTACT ME</h2>
		</div>
		<div class="contact-form">
			<form>
				<input type="text" placeholder="Name"></input>
				<input type="text" placeholder="Email Address"></input>			
				<input type="text" placeholder="Subject"></input>
				<textarea type="text" placeholder="Enter Body"></textarea>
				<button type="submit">Submit</button>
			</form>		
		</div>
	</main>
	
</body>
</html>