<!-- Main -->
<main class="portfolio-section">
	<div class="project-section">
		<ul class="project-list">
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
		</ul>
	</div>
</main>