<!-- Main -->
<main class="portfolio-section">
	<div class="project-section">
		<ul class="project-list">
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>
			<li class="project"><a href="#"><img src="#" alt="#"/></a></li>	
		</ul>
	</div>
	<div class="project-sidebar">
		<div class="project-searchbar">
			<form id="project-searchbar">
				<input type=text placeholder="Search Project"></input>
				<button type="submit">Search</button>
			</form>
		</div>
		<div class="project-categories">
			<h4>Categories</h4><br/>
			<ul>
				<li><a>Digital Art</a></li>
				<li><a>Traditional</a></li>			
				<li><a>Sketches</a></li>
				<li><a>Paintings</a></li>					
			</ul>
		</div>
		<div class="project-tags">
			<h4>Tags</h4><br/>
			<ul>
				<li><a>Charcoal</a></li>
				<li><a>Pencil</a></li>			
				<li><a>Watercolor</a></li>
				<li><a>Marker</a></li>					
			</ul>
		</div>
	</div>
</main>