.contact-section {
	border: 1px solid black;
	background: #fff;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.contact-header {
	border: 1px solid red;
	color: black;
}
.contact-form {
	border: 1px solid pink;
}
.contact-form form {
	display: flex;
	flex-flow: column;
}
button {
	width: 100px;
	height: 25px;
	background: #333;
	color: #fff;
	padding: 10px 10px;
}
/*Laptops/Desktop*/
@media screen and (min-width: 1240px){
	body {
		background: #fac7c6;
	}
}
/*iPads*/
@media screen and (min-width: 945px) and (max-width: 1240px){
	body {
		background: orange;
	}
	
}
/*Filler*/
@media screen and (min-width: 760px) and (max-width: 945px){
	body {
		background: yellow;
	}

}
/*Smart Phones*/
@media only screen and (max-width: 760px) {
	body {
		background: green;
	}
	
}