header {
	border: 4px solid #fff;
	background: #d65859;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}
.brand-name {
	font-size: 50px;
	font-family: "Droid Serif", serif;
	text-shadow: 1px 1px 1px black;
}
.brand-logo {
	border: 1px solid red;
	width: 50px;
	height: 50px;
}
.header-padding {
	margin: 0px 25px;
}
.login-button {
	height: 3em;
	width: 50px;
	border-radius: 5px;
	color: white;
	background: #006BA6;
}
/*Laptops/Desktop*/
@media screen and (min-width: 1240px){
	body {
		background: #fac7c6;
	}
}
/*iPads*/
@media screen and (min-width: 945px) and (max-width: 1240px){
	body {
		background: orange;
	}
}
/*Filler*/
@media screen and (min-width: 760px) and (max-width: 945px){
	body {
		background: yellow;
	}
}
/*Smart Phones*/
@media only screen and (max-width: 760px) {
	body {
		background: green;
	}
	.brand-name {
		font-size: 25px;
	}
}