nav {
	border: 4px solid #fff;
	border-top: none;
	background: #fd9f93;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	height: 50px;
}
nav a {
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	font-family: "Lato", sans-serif;
	text-shadow: 1px 1px 1px black;
}
a:hover {
	color: blue;
}
/*Laptops/Desktop*/
@media screen and (min-width: 1240px){
	body {
		background: #fac7c6;
	}
}
/*iPads*/
@media screen and (min-width: 945px) and (max-width: 1240px){
	body {
		background: orange;
	}
	nav a {
		font-size: 22px;
	}
}
/*Filler*/
@media screen and (min-width: 760px) and (max-width: 945px){
	body {
		background: yellow;
	}
	nav a {
		font-size: 20px;
	}	
}
/*Smart Phones*/
@media only screen and (max-width: 760px) {
	body {
		background: green;
	}
	nav a {
		font-size: 18px;
	}	
}